@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --red-50: #faeae8;
  --red-100: #c9190b;
  --red-200: #a30000;
  --red-300: #7d1007;
  --red-400: #470000;
  --red-500: #2c0000;

  --orange-100: #f4b678;
  --orange-200: #ef9234;
  --orange-300: #ec7a08;
  --orange-400: #c46100;
  --orange-500: #8f4700;
  --orange-600: #773d00;

  --yellow-50: #fdf7e7;
  --yellow-100: #f9e0a2;
  --yellow-200: #f6d173;
  --yellow-300: #f4c145;
  --yellow-400: #f0ab00;
  --yellow-500: #c58c00;
  --yellow-600: #795600;

  --lime-100: #e4f5bc;
  --lime-200: #c8eb79;
  --lime-300: #ace12e;
  --lime-400: #92d400;
  --lime-500: #6ca100;
  --lime-600: #486b00;

  --green-50: #f3faf2;
  --green-100: #bde5b8;
  --green-200: #95d58e;
  --green-300: #6ec664;
  --green-400: #5ba352;
  --green-500: #3e8635;
  --green-600: #1e4f18;

  --cyan-50: #f2f9f9;
  --cyan-100: #a2d9d9;
  --cyan-200: #73c5c5;
  --cyan-300: #009596;
  --cyan-400: #005f60;
  --cyan-500: #003737;
  --cyan-600: #002323;

  --blue-50: #e7f1fa;
  --blue-100: #bee1f4;
  --blue-200: #73bcf7;
  --blue-300: #2b9af3;
  --blue-400: #0066cc;
  --blue-500: #004080;
  --blue-600: #002952;

  --purple-50: #f2f0fc;
  --purple-100: #cbc1ff;
  --purple-200: #b2a3ff;
  --purple-300: #a18fff;
  --purple-400: #8476d1;
  --purple-500: #6753ac;
  --purple-600: #40199a;

  --gray-100: #f5f5f5;
  --gray-200: #f0f0f0;
  --gray-300: #d2d2d2;
  --gray-400: #b8bbbe;
  --gray-500: #8a8d90;
  --gray-600: #6a6e73;
  --gray-700: #4f5255;
  --gray-800: #3c3f42;
  --gray-850: #212427;
  --gray-900: #151515;
  --gray-1000: #030303;

  --primary: var(--blue-400);
  --hover-primary: var(--blue-500);

  --secondary: var(--gray-850);
  --hover-secondary: var(--gray-900);

  --danger: var(--red-100);
  --hover-danger: var(--red-200);

  --warn: var(--yellow-400);
  --hover-warn: var(--yellow-500);

  --light: #fafafa;
  --dark: #212427;

  --font-text: "Red Hat Text", overpass, helvetica, arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-text);
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  background: #ffffff;
  line-height: 1.125rem;
  color: var(--gray-1000);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 0.5rem;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: 400;
}

h1,
.h1 {
  font-size: 24px;
}

h2,
.h2 {
  font-size: 20px;
}

h3,
.h3 {
  font-size: 18px;
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--blue-500);
  text-decoration: underline;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.d-flex {
  display: flex !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  position: relative;
  flex: 0 0 auto;
  width: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 320px) {
  .col-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 480px) {
  .container {
    max-width: 720px;
  }

  .col-1 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-3 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-1 {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
  }

  .col-2 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-4 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }

  .col-5 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-1 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-3 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-5 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .col-6 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-7 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-1 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  .col-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-3 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .col-4 {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .col-5 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-6 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-7 {
    flex: 0 0 70%;
    max-width: 70%;
  }

  .col-8 {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .col-9 {
    flex: 0 0 90%;
    max-width: 90%;
  }

  .col-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }

  .col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 1000%;
  }
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.spacing-1 {
  margin: 2px;
}

.spacing-2 {
  margin: 4px;
}

.spacing-3 {
  margin: 8px;
}

.spacing-4 {
  margin: 12px;
}

.spacing-5 {
  margin: 16px;
}

.spacing-6 {
  margin: 24px;
}

.spacing-7 {
  margin: 32px;
}

.spacing-8 {
  margin: 40px;
}

.spacing-9 {
  margin: 48px;
}

.icon-16 {
  font-size: 16px !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.text-center {
  text-align: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.mr-auto {
  margin-right: auto !important;
}

/**
  * ------------------------------------------------------------------------
  * Material Icons
  * ------------------------------------------------------------------------
  */
.material-icons.large {
  font-size: 32px;
}

/**
  * ------------------------------------------------------------------------
  * Accordion
  * ------------------------------------------------------------------------
  */
.accordion {
  width: 100%;
}

.accordion:last-child {
  border-bottom: 1px solid var(--gray-200);
}

.accordion-item {
  position: relative;
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-top: 1px solid var(--gray-200);
}

.accordion-title:hover {
  background: var(--gray-200);
}

.accordion-title {
  font-size: 16px;
  line-height: 42px;
  padding-left: 24px;
  border: 0px;
  min-height: 32px;
}

.accordion-icon {
  font-size: 16px;
  color: var(--gray-1000);
  position: absolute;
  top: 10px;
  right: 8px;
}

.accordion-content {
  width: 100%;
  display: none;
  padding: 8px 24px;
  border: 0px;
  background: transparent;
}

.accordion-title.show {
  border-left: 3px solid var(--primary);
}

.accordion-content.show {
  display: block;
  border-left: 3px solid var(--primary);
}

/**
  * ------------------------------------------------------------------------
  * Alert
  * ------------------------------------------------------------------------
  */

.alert {
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto;
  min-height: 3rem;
  min-width: 256px;
  color: var(--gray-1000);
  margin-bottom: 21px;
  background-color: #ffffff;
  border-top: 2px solid var(--primary);
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
}

.alert .alert-title {
  color: var(--blue-500);
}

.alert span {
  font-size: 20px;
  margin-top: 16px;
  margin-left: 10px;
  color: var(--blue-400);
}

.alert-text-wrapper {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  padding: 1rem 0;
}

.alert-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  margin: 0 0.5rem 0 0;
  white-space: nowrap;
}

.alert-message {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  word-break: break-word;
}

.alert.alert-error {
  border-top: 2px solid var(--red-100);
}

.alert-error .alert-title {
  color: var(--red-300);
}

.alert-error span {
  font-size: 20px;
  margin-top: 16px;
  margin-left: 10px;
  color: var(--red-100);
}

.alert.alert-warn {
  border-top: 2px solid var(--yellow-400);
}

.alert-warn .alert-title {
  color: var(--yellow-500);
}

.alert-warn span {
  font-size: 20px;
  margin-top: 16px;
  margin-left: 10px;
  color: var(--yellow-400);
}

.alert.alert-success {
  border-top: 2px solid var(--green-400);
}

.alert-success .alert-title {
  color: var(--green-500);
}

.alert-success span {
  font-size: 20px;
  margin-top: 16px;
  margin-left: 10px;
  color: var(--green-400);
}

.alert-details {
  display: -webkit-flex;
  display: flex;
  flex: auto;
  margin: 0 1rem;
}

.alert-close-button {
  margin-top: 5px;
  cursor: pointer;
  min-width: 1.5rem;
  max-width: 1.5rem;
  transition: outline 0.11s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
}

/**
  * ------------------------------------------------------------------------
  * Breadcrumb
  * ------------------------------------------------------------------------
  */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 1rem;
  margin: 8px 0;
  list-style: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: var(--gray-1000);
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item a {
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
  color: var(--hover-primary);
}

.breadcrumb-item.active a {
  color: var(--secondary);
  cursor: unset;
}

.breadcrumb-item.active a:hover {
  text-decoration: none;
}

/**
  * ------------------------------------------------------------------------
  * Button
  * ------------------------------------------------------------------------
  */
.btn {
  font-family: var(--font-text);
  font-size: 16px;
  position: relative;
  display: inline-flex;
  padding: 6px 16px;
  line-height: 1.25rem;
  letter-spacing: 0.16px;
  min-height: 36px;
  max-height: 36px;
  text-align: left;
  cursor: pointer;
  border: 1px solid var(--gray-1000);
  border-radius: 3px;
  color: var(--gray-1000);
  background-color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  outline: none;
}

.btn:hover:enabled {
  background-color: var(--gray-200);
}

.btn.btn-primary {
  border: 1px solid transparent;
  background-color: var(--primary);
  color: #ffffff;
}

.btn.btn-primary:active {
  outline: none;
}

.btn.btn-primary:hover:enabled {
  background-color: var(--hover-primary);
}

.btn.btn-secondary {
  border: 1px solid transparent;
  background-color: var(--secondary);
  color: #ffffff;
}

.btn.btn-secondary:active {
  outline: none;
}

.btn.btn-secondary:hover:enabled {
  background-color: var(--hover-secondary);
}

.btn.btn-danger {
  border: 1px solid transparent;
  background-color: var(--danger);
  color: #ffffff;
}

.btn.btn-danger:active {
  outline: none;
}

.btn.btn-danger:hover:enabled {
  background-color: var(--hover-danger);
}

.btn.btn-warn {
  border: 1px solid transparent;
  background-color: var(--warn);
  color: var(--gray-1000);
}

.btn.btn-warn:active {
  outline: none;
}

.btn.btn-warn:hover:enabled {
  background-color: var(--hover-warn);
}

.btn.btn-ghost {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--primary);
}

.btn.btn-ghost:active {
  outline: none;
}

.btn.btn-ghost:hover:enabled {
  background-color: transparent;
  color: var(--blue-500);
}

.btn.btn-small {
  line-height: 1rem;
  padding: 6px 16px;
  min-height: 33px;
  max-height: 33px;
}

.btn:disabled,
.btn[disabled] {
  cursor: not-allowed;
  background-color: var(--gray-300);
  color: var(--gray-500);
}

/**
  * ------------------------------------------------------------------------
  * Card
  * ------------------------------------------------------------------------
  */
.card {
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  border-width: 1px;
  border-color: #d2d2d2;
}

.card-icon {
  font-size: 60px;
  color: var(--dark);
}

.card-image {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-header {
  font-weight: 600;
  min-height: 1.75rem;
  color: var(--dark);
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.card-title {
  font-weight: 600;
  margin: 0;
}

.card-content {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-800);
  min-height: 3.75rem;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.card-footer {
  position: relative;
  min-height: 40px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px;
}

/**
  * ------------------------------------------------------------------------
  * Carousel
  * ------------------------------------------------------------------------
  */
.carousel {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carousel-item {
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.carousel-image {
  width: 100%;
}

.carousel-item:first-child {
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  transition: 0.6s ease;
  user-select: none;
  display: none;
}

.carousel-control-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #ffffff;
}

.carousel-control-prev.show,
.carousel-control-next.show {
  display: inline-block;
}

.carousel-text {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #ffffff;
  text-align: center;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  font-size: 48px;
  color: #ffffff;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators-item {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.5;
}

.active,
.carousel-indicators-item:hover {
  opacity: 1;
}

/**
  * ------------------------------------------------------------------------
  * Checkbox
  * ------------------------------------------------------------------------
  */

.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.25rem 0.5rem;
  align-items: start;
  justify-items: start;
}

.checkbox-input {
  cursor: pointer;
}

.checkbox-label {
  font-size: 16px;
  cursor: pointer;
}

/**
  * ------------------------------------------------------------------------
  * Dropdown
  * ------------------------------------------------------------------------
  */
.dropdown {
  position: relative;
  border-radius: 0;
}

.dropdown-toggle {
  color: var(--gray-1000);
  border-radius: 0;
  border: solid 1px #f0f0f0;
  border-bottom: solid 1px #8a8d90;
  padding: 6px 8px;
  min-height: 36px;
  max-height: 36px;
}

.dropdown-toggle:hover {
  border-bottom: solid 1px var(--primary);
}

.dropdown-toggle:focus {
  outline: none;
  border: solid 2px var(--primary);
}

.dropdown-toggle:hover {
  background-color: #ffffff !important;
  outline: none;
}

.dropdown-toggle::after {
  border: solid var(--gray-1000);
  border-width: 0 1px 1px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  margin-left: 2em;
  margin-top: 5px;
  vertical-align: 0.2em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-menu {
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  color: var(--gray-1000);
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 8px 16px;
  clear: both;
  line-height: 20px;
  color: var(--gray-1000);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  text-decoration: none;
  color: var(--dark);
  background-color: var(--gray-200);
}

/**
  * ------------------------------------------------------------------------
  * File Uploader
  * ------------------------------------------------------------------------
  */
.file-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
}

.file-selected-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-items: center;
}

.file-upload-btn {
  margin-bottom: 0.5rem;
}

.file-selected-wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr auto auto;
  gap: 0.75rem 0.5rem;
}

.file-selected-icon {
  font-size: 20px;
}

.file-selected-close-icon {
  font-size: 20px;
  cursor: pointer;
}

.file-selected-file {
  color: var(--primary);
  display: grid;
  grid-auto-rows: auto;
  gap: 0.75rem 1rem;
  margin-bottom: 0.5rem;
}

.file-selected-file:hover {
  cursor: pointer;
  color: var(--hover-primary);
  text-decoration: underline;
}

.file-visibility-hidden {
  visibility: hidden;
  height: 0px;
}

/**
  * ------------------------------------------------------------------------
  * Form
  * ------------------------------------------------------------------------
  */
.form-control-plaintext {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.form-group {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.375rem 0.75rem;
}

.form-control {
  width: 100%;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-900);
  margin: 0 0 0.5rem;
}

.text-input {
  font-family: var(--font-text);
  font-size: 14px;
  padding: 5px 8px;
  line-height: 14px;
  color: var(--gray-1000);
  border: solid 1px #d2d2d2;
  border-bottom: solid 1px #8a8d90;
  min-height: 36px;
  max-height: 36px;
  background-color: #ffffff;
  -webkit-appearance: none;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.text-area {
  font-family: var(--font-text);
  font-size: 14px;
  padding: 12px 18px;
  line-height: 17px;
  color: var(--gray-1000);
  background-color: #ffffff;
  width: 100%;
  min-width: 10rem;
  min-height: 40px;
  -webkit-order: 3;
  order: 3;
  resize: vertical;
  border: solid 1px #d2d2d2;
  border-bottom: solid 1px #8a8d90;
  -webkit-appearance: none;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.select-input {
  font-family: var(--font-text);
  font-size: 14px;
  padding: 8px 18px;
  line-height: 14px;
  background-color: #ffffff;
  width: 100%;
  min-width: 10rem;
  min-height: 36px;
  border: solid 1px #d2d2d2;
  border-bottom: solid 1px #8a8d90;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
    outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.text-input:hover,
.select-input:hover,
.text-area:hover {
  border-bottom: solid 1px var(--primary);
}

.text-input:focus,
.select-input:focus,
.text-area:focus {
  outline: none;
  border-radius: 3px;
  border: solid 2px var(--primary);
}

/**
  * ------------------------------------------------------------------------
  * List
  * ------------------------------------------------------------------------
  */
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 4px 16px;
  margin-bottom: 0;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item:hover {
  background-color: var(--gray-200);
}

.list-group-item.active {
  color: var(--primary);
  background-color: var(--gray-200);
  cursor: unset;
}

/**
  * ------------------------------------------------------------------------
  * Loading
  * ------------------------------------------------------------------------
  */
.loading {
  color: var(--primary);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 0.75s linear infinite;
  animation: loading 0.75s linear infinite;
}

@-webkit-keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

/**
  * ------------------------------------------------------------------------
  * Navbar
  * ------------------------------------------------------------------------
  */
.navbar {
  margin: 0;
  overflow: hidden;
  background: var(--dark);
  z-index: 9999;
  min-height: 56px;
}

.navbar-brand-name {
  font-family: var(--font-text);
  font-weight: bold;
  color: var(--light);
  margin-left: 16px;
}

.navbar-content {
  margin: 0 auto;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
}

.navbar-content a {
  display: block;
  line-height: 56px;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--light);
}

.navbar-list::-webkit-scrollbar {
  width: 6px;
  background-color: var(--light);
}

.navbar-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--dark);
}

.navbar-link {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  color: var(--light) !important;
  opacity: 0.8;
}

.navbar-link:hover {
  color: var(--light) !important;
  opacity: 1;
}

.navbar-link.active {
  opacity: 0.56;
  max-height: 56px;
}

.navbar-menu-icon {
  display: none;
  grid-gap: 5px;
  grid-template-columns: auto;
  padding: 26px 0px 30px 0px;
  height: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-menu {
  height: 1px;
  width: 18px;
  background: var(--light);
  opacity: 0.8;
  transition: 0.5s;
}

.one.show {
  transform: rotate(45deg) translateY(4.5px);
}

.two.show {
  transform: rotate(-45deg) translateY(-4.5px);
}

.navbar-light,
.navbar-light .navbar-content .navbar-list,
.navbar-light .navbar-content .navbar-list .navbar-link,
.navbar-light .navbar-content .navbar-link {
  background: var(--light) !important;
  background-color: var(--light) !important;
  color: var(--dark) !important;
}

.navbar-light .navbar-content .navbar-menu-icon .navbar-menu {
  background: var(--dark) !important;
}

@media (max-width: 992px) {
  .navbar {
    background: var(--dark);
  }

  body.show {
    overflow: hidden;
  }

  .navbar-list {
    z-index: 9999;
    position: fixed;
    top: 56px;
    right: 0;
    height: 0;
    width: 100%;
    background: var(--dark);
    flex-direction: column;
    justify-content: flex-start;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .navbar.show .navbar-list {
    background-color: var(--dark);
    padding: 45px 40px 8px;
    height: calc(100vh - 56px);
    overflow-y: auto;
  }

  .navbar.show {
    background-color: var(--dark);
  }

  .navbar-link {
    min-height: 56px;
    font-weight: 300;
    font-size: 14px;
  }

  .navbar-list a {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .navbar.show .navbar-list a {
    width: auto;
    height: auto;
  }

  .navbar-menu-icon {
    order: 1;
    display: grid;
  }

  .navbar-brand {
    order: 2;
  }

  .navbar-rt {
    order: 3;
  }
}

/**
  * ------------------------------------------------------------------------
  * Radio
  * ------------------------------------------------------------------------
  */
.radio {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.25rem 0.5rem;
  align-items: start;
  justify-items: start;
}

.radio-input {
  cursor: pointer;
}

.radio-label {
  font-size: 16px;
  cursor: pointer;
}

/**
  * ------------------------------------------------------------------------
  * Sidebar
  * ------------------------------------------------------------------------
  */
.container-sidebar {
  width: calc(100% - 290px);
}

.bd-sidebar {
  flex: 0 1 290px;
  position: sticky;
  top: 56px;
  z-index: 1000;
  background-color: var(--dark);
  transition: 0.5s;
  overflow-x: hidden;
  height: calc(100vh - 56px);
  order: 0;
}

.bd-navbar {
  position: sticky;
  top: 0;
  z-index: 1071;
}

.bd-links {
  height: 100%;
  max-height: 100%;
  padding-bottom: 16px;
  padding-top: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}

.bd-brand {
  width: 100%;
  display: block;
  padding-bottom: 64px;
}

.bd-brand img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bd-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 16px;
  text-decoration: none;
  color: var(--light);
  display: block;
  cursor: pointer;
}

.bd-link:hover {
  background-color: var(--gray-100) !important;
  text-decoration: none;
}

.bd-link.active {
  border-left: 4px solid var(--primary);
  background-color: var(--gray-200) !important;
}

.bd-light,
.bd-light .bd-links .bd-link {
  background: var(--light);
  color: var(--dark);
}

@media (max-width: 992px) {
  .container-sidebar {
    width: 100%;
  }

  .bd-sidebar {
    height: calc(100vh - 56px);
    width: 0px;
    position: fixed;
  }

  .bd-link,
  .bd-brand {
    display: none;
  }

  .bd-sidebar.show {
    width: 290px;
    z-index: 9999;
  }

  .bd-sidebar.show .bd-link,
  .bd-sidebar.show .bd-brand {
    display: block;
  }
}

/**
  * ------------------------------------------------------------------------
  * Tab
  * ------------------------------------------------------------------------
  */
.tab {
  padding: 0;
  margin: 0px 0px 0px 10px;
  overflow: hidden;
  background-color: var(--light);
  display: flex;
  list-style: none;
}

/* Style the buttons inside the tab */
.tab-link {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 42px 12px 16px;
  border-bottom: 3px solid var(--light);
}

/* Change background color of buttons on hover */
.tab-link:hover {
  border-bottom: 3px solid #e5e5e5;
}

/* Create an active/current tab link class */
.tab-link.active {
  background-color: #ffffff;
  border-bottom: 3px solid var(--primary);
}

/* Style the tab content */
.tab-pane {
  width: 100%;
  background: #ffffff;
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tab-pane.show {
  display: block;
}

/**
  * ------------------------------------------------------------------------
  * Label
  * ------------------------------------------------------------------------
  */

.label-wrapper {
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  display: inline-block;
  margin: 0.25rem;
  padding: 4px 8px;
  border-radius: 0.9375rem;
}

.label.label-gray {
  color: var(--gray-800);
  border: 1px solid var(--gray-400);
  background-color: var(--gray-200);
}

.label.label-blue {
  color: var(--blue-500);
  border: 1px solid var(--blue-100);
  background-color: var(--blue-50);
}

.label.label-green {
  color: var(--green-500);
  border: 1px solid var(--green-100);
  background-color: var(--green-50);
}

.label.label-yellow {
  color: var(--yellow-400);
  border: 1px solid var(--yellow-100);
  background-color: var(--yellow-50);
}

.label.label-red {
  color: var(--red-100);
  border: 1px solid var(--red-100);
  background-color: var(--red-50);
}

.label.label-purple {
  color: var(--purple-500);
  border: 1px solid var(--purple-100);
  background-color: var(--purple-50);
}

.label.label-cyan {
  color: var(--cyan-400);
  border: 1px solid var(--cyan-100);
  background-color: var(--cyan-50);
}

.label-close {
  font-size: 13px !important;
  position: relative;
  top: 2.3px;
  margin-left: 4px;
  cursor: pointer;
}

/**
  * ------------------------------------------------------------------------
  * Toast
  * ------------------------------------------------------------------------
  */

.toast {
  font-size: 12rem;
  font-weight: 400;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto;
  min-height: 5rem;
  max-width: 18rem;
  min-width: 245px;
  color: var(--gray-1000);
  margin: 16px 10px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
  background: #ffffff;
  border-left: 3px solid var(--primary);
}

.toast.toast-error {
  border-left: 3px solid var(--red-100);
}

.toast.toast-warn {
  border-left: 3px solid var(--yellow-400);
}

.toast.toast-success {
  border-left: 3px solid var(--green-400);
}

.toast-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-1000);
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  white-space: nowrap;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 13px 0 7px 0;
}

.toast-details {
  display: -webkit-flex;
  display: flex;
  margin: 0 1rem;
}

.toast-text-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.toast-time {
  font-size: 11px;
  font-weight: 500;
  margin-right: 32px;
  color: var(--gray-1000);
}

.toast-message {
  font-size: 12px;
  margin-bottom: 0;
  letter-spacing: 0.16px;
  word-break: break-word;
  padding: 5px 0 12px 0;
}

.toast-close-button {
  position: absolute;
  top: 5px;
  right: 0;
  color: var(--gray-1000);
  cursor: pointer;
  min-width: 1.5rem;
  max-width: 1.5rem;
  transition: outline 0.11s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
}

/**
  * ------------------------------------------------------------------------
  * Badge
  * ------------------------------------------------------------------------
  */

.badge {
  font-size: 12px;
  font-weight: 500;
  padding: 0px 8px;
  border-radius: 30em;
  min-width: 2rem;
  display: inline-block;
  text-align: center;
}

.badge.badge-read {
  background-color: var(--gray-200);
}

.badge.badge-unread {
  color: #ffffff;
  background-color: var(--primary);
}
