@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --blue: #0076e0;
  --blue40: #78a9ff;
  --blue20: #d0e2ff;
  --purple: #8a3ffc;
  --red: #da1e28;
  --red40: #fa4d56;
  --red20: #fcdddd;
  --orange: #fd7e14;
  --yellow: #f1c21b;
  --yellow20: #fef1d8;
  --green: #24a148;
  --green40: #42be65;
  --green20: #dcf7e2;
  --white: #ffffff;
  --gray: #161616;
  --gray80: #393939;
  --gray60: #6f6f6f;
  --gray40: #a8a8a8;
  --gray20: #cacaca;
  --gray10: #e5e5e5;
  --primary: #0076e0;
  --secondary: #393939;
  --light: #f4f4f4;
  --dark: #393939;
  --hover-primary: #0e54d8;
  --hover-danger: #d1112a;
  --hover-secondary: #161616;
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: var(--light);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: var(--gray);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 0.5rem;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--blue);
  text-decoration: underline;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col {
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  flex: 0 0 100%;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-1 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-3 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .flex-nowrap {
    flex-wrap: nowrap !important;
  }

  .container {
    max-width: 1140px;
  }

  .col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 1000%;
  }
}

.spacing-01 {
  margin: 2px;
}

.spacing-02 {
  margin: 4px;
}

.spacing-03 {
  margin: 8px;
}

.spacing-04 {
  margin: 12px;
}

.spacing-05 {
  margin: 16px;
}

.spacing-06 {
  margin: 24px;
}

.spacing-07 {
  margin: 32px;
}

.spacing-08 {
  margin: 40px;
}

.spacing-09 {
  margin: 48px;
}

.icon-16 {
  font-size: 16px !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.text-center {
  text-align: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.mr-auto {
  margin-right: auto !important;
}

/* Material Icons */
.material-icons.large {
  font-size: 32px;
}
/* Material Icons */

/* Accordion */
.accordion {
  position: relative;
  width: 100%;
  cursor: pointer;
  background: #ffffff;
  border-top: 1px solid var(--gray10);
}

.accordion:hover {
  background: var(--gray10);
}

.accordion-title {
  line-height: 42px;
  padding-left: 24px;
  border: 0px;
  min-height: 32px;
  font-weight: 500;
}

.accordion-icon {
  color: #282828;
  position: absolute;
  font-size: 12px;
  top: 10px;
  right: 8px;
}

.accordion-content {
  width: 100%;
  display: none;
  padding: 8px 24px;
  border: 0px;
  background: #ffffff;
}

.accordion-content.show {
  display: block;
}
/* Accordion */

/* Alert */
.alert {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto;
  min-height: 3rem;
  min-width: 18rem;
  color: var(--gray);
  margin-top: 16px;
  margin-bottom: 16px;
}

.alert-text-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.75rem 0;
}

.alert-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  margin: 0 0.5rem 0 0;
  white-space: nowrap;
}

.alert-message {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  word-break: break-word;
}

.alert-info {
  border-left: 3px solid var(--blue);
  background: var(--blue20);
}

.alert-error {
  border-left: 3px solid var(--red);
  background: var(--red20);
}

.alert-warn {
  border-left: 3px solid var(--yellow);
  background: var(--yellow20);
}

.alert-success {
  border-left: 3px solid var(--green);
  background: var(--green20);
}

.alert-details {
  display: -webkit-flex;
  display: flex;
  margin: 0 1rem;
}

.alert-close-button {
  outline: 2px solid transparent;
  outline-offset: -2px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  transition: outline 0.11s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
}
/* Alert */

/* Breadcrumb */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 1rem;
  margin: 8px 0;
  list-style: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #282828;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item a {
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active a {
  color: var(--secondary);
  cursor: unset;
}

.breadcrumb-item.active a:hover {
  text-decoration: none;
}
/* Breadcrumb */

/* Button */
.btn {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: inline-block;
  padding: 10px 40px 10px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  min-height: 48px;
  max-height: 48px;
  cursor: pointer;
  border: 3px solid transparent;
  color: var(--gray);
  background-color: var(--white);
  appearance: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  outline: none;
}

.btn:hover {
  background-color: var(--light);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-primary:active {
  outline: none;
}

.btn-primary:hover {
  background-color: var(--hover-primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: #ffffff;
}

.btn-secondary:active {
  outline: none;
}

.btn-secondary:hover {
  background-color: var(--hover-secondary);
}

.btn-danger {
  background-color: var(--red);
  color: #ffffff;
}

.btn-danger:active {
  outline: none;
}

.btn-danger:hover {
  background-color: var(--hover-danger);
}

.btn-ghost {
  background-color: Transparent;
  color: var(--blue);
}

.btn-ghost:active {
  outline: none;
}

.btn-ghost:hover {
  background-color: var(--light);
}

.btn-md {
  min-height: 40px;
  max-height: 40px;
}

.btn-sm {
  min-height: 32px;
  max-height: 32px;
  line-height: 5px;
}
/* Button */

/* Card */
.card {
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-icon {
  font-size: 60px;
  color: #282828;
}

.card-img {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-header {
  font-weight: 700;
  min-height: 1.75rem;
  color: #282828;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.card-title {
  font-weight: 700;
  padding: 12px;
  margin: 0;
}

.card-content {
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  color: var(--gray80);
  min-height: 3.75rem;
}

.card-footer {
  position: relative;
  padding: 12px;
  min-height: 40px;
  width: 100%;
}
/* Card */

/* Carousel */
.carousel {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carousel-item {
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.carousel-control-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: white;
}

.carousel-text {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  font-size: 48px;
  color: #fff;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators-item {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.5;
}

.active,
.carousel-indicators-item:hover {
  opacity: 1;
}
/* Carousel */

/* Checkbox */
.checkbox label {
  font-size: 14px;
  font-weight: 700;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #161616;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkbox-checkmark:after {
  left: 4px;
  top: 0px;
  width: 0.3625rem;
  height: 0.7125rem;
  border: solid var(--primary);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Checkbox */

/* Menu */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  color: var(--gray80);
  border: 0;
  border-bottom: solid 1px #a8a8a8;
  padding-right: 10px;
  min-height: 40px;
  max-height: 40px;
}

.dropdown-toggle:focus {
  outline: none;
  border: solid 2px var(--blue);
}

.dropdown-toggle::after {
  border: solid var(--gray80);
  border-width: 0 1px 1px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  margin-left: 4em;
  vertical-align: 0.2em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  font-size: 14px;
  color: var(--gray80);
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 11px 16px;
  clear: both;
  line-height: 20px;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #212529;
  background-color: #e5e5e5;
}
/* Menu */

/* File Uploader */
.file-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
}

.file-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
}

.file-uploader {
  margin-bottom: 0.5rem;
  line-height: 20px;
}

.file-selected-wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr auto;
  gap: 0.75rem 0.5rem;
}

.file-selected-icon {
  font-size: 20px;
}

.file-selected-file {
  color: var(--primary);
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr auto;
  gap: 0.75rem 1rem;
  margin-bottom: 0.5rem;
}

.file-selected-file:hover {
  cursor: pointer;
  color: var(--hover-primary);
  text-decoration: underline;
}

.file-visibility-hidden {
  visibility: hidden;
}
/* File Uploader */

/* Form */
.form-control-plaintext {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.form-group {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.375rem 0.75rem;
}

.form-control {
  width: 100%;
}

.form-label {
  color: var(--gray80);
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 0.5rem;
}

.text-input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  line-height: 14px;
  color: #282828;
  border: 0;
  border-bottom: solid 1px #a8a8a8;
  min-height: 40px;
  max-height: 40px;
  background-color: #ffffff;
  -webkit-appearance: none;
}

.text-area {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 12px 18px;
  line-height: 17px;
  color: #282828;
  background-color: #ffffff;
  width: 100%;
  min-width: 10rem;
  min-height: 40px;
  -webkit-order: 3;
  order: 3;
  resize: vertical;
  border: 0;
  border-bottom: solid 1px #a8a8a8;
  -webkit-appearance: none;
}

.select-input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  line-height: 14px;
  background-color: #ffffff;
  width: 100%;
  min-width: 10rem;
  min-height: 40px;
  border: 0;
  border-bottom: solid 1px #a8a8a8;
}

.text-input:focus,
.select-input:focus,
.text-area:focus {
  outline: none;
  border: solid 2px var(--blue);
}
/* Form */

/* List */
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 16px 16px 24px 16px;
  margin-bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  cursor: pointer;
  transition: 0.3s;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item:hover {
  background-color: #e5e5e5;
}

.list-group-item.active {
  background-color: #e5e5e5;
  cursor: unset;
}
/* List */

/* Loading */
.loading {
  color: var(--primary);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 0.75s linear infinite;
  animation: loading 0.75s linear infinite;
}

@-webkit-keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
/* Loading */

/* Navbar */
.navbar {
  margin: 0;
  overflow: hidden;
  background: var(--dark);
  z-index: 9999;
  min-height: 44px;
}

.navbar-content {
  margin: 0 auto;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
}

.navbar-content a {
  display: block;
  line-height: 44px;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-list {
  width: 59%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--light);
}

.navbar-list::-webkit-scrollbar {
  width: 6px;
  background-color: var(--light);
}

.navbar-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--dark);
}

.navbar-link {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  color: var(--light) !important;
  opacity: 0.8;
}

.navbar-link:hover {
  color: var(--light) !important;
  opacity: 1;
}

.navbar-link.active {
  opacity: 0.56;
  max-height: 44px;
}

.navbar-menu-icon {
  display: none;
  grid-gap: 5px;
  grid-template-columns: auto;
  padding: 22px 0px 22px 0px;
  height: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-menu {
  height: 1px;
  width: 18px;
  background: var(--light);
  opacity: 0.8;
  transition: 0.5s;
}

.one.show {
  transform: rotate(45deg) translateY(4.5px);
}

.two.show {
  transform: rotate(-45deg) translateY(-4.5px);
}

.navbar-light,
.navbar-light .navbar-content .navbar-list,
.navbar-light .navbar-content .navbar-list .navbar-link,
.navbar-light .navbar-content .navbar-link {
  background: var(--light) !important;
  background-color: var(--light) !important;
  color: var(--dark) !important;
}

.navbar-light .navbar-content .navbar-menu-icon .navbar-menu {
  background: var(--dark) !important;
}

@media (max-width: 992px) {
  .navbar {
    background: var(--dark);
  }

  body.show {
    overflow: hidden;
  }

  .navbar-list {
    z-index: 9999;
    position: fixed;
    top: 44px;
    right: 0;
    height: 0;
    width: 100%;
    background: var(--dark);
    flex-direction: column;
    justify-content: flex-start;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .navbar.show .navbar-list {
    background-color: var(--dark);
    padding: 75px 40px 8px;
    height: 100%;
  }

  .navbar.show {
    background-color: var(--dark);
  }

  .navbar-link {
    font-weight: 300;
    font-size: 16px;
  }

  .navbar-list a {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .navbar.show .navbar-list a {
    width: auto;
    height: auto;
  }

  .navbar-menu-icon {
    order: 1;
    display: grid;
  }

  .navbar-brand {
    order: 2;
  }

  .navbar-rt {
    order: 3;
  }
}
/* Navbar */

/* Radio */
.radio {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #161616;
  border-radius: 50%;
}

/* Create the indicator (the carousel-indicators-item/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (carousel-indicators-item/circle) when checked */
.radio input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (carousel-indicators-item/circle) */
.radio .radio-checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--primary);
}
/* Radio */

/* Sidebar */
.bd-sidebar {
  flex: 0 1 300px;
  position: sticky;
  top: 44px;
  height: 100%;
  z-index: 1000;
  background-color: var(--dark);
  transition: 0.5s;
  overflow-x: hidden;
  height: calc(100vh - 44px);
  order: 0;
}

.bd-navbar {
  position: sticky;
  top: 0;
  z-index: 1071;
}

.bd-content {
  flex: 0 0 69%;
  order: 1;
  padding-left: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.bd-links {
  height: 100%;
  max-height: 100%;
  padding-bottom: 16px;
  padding-top: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}

.bd-brand {
  width: 100%;
  display: block;
  padding-bottom: 64px;
}

.bd-brand img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bd-link {
  line-height: 44px;
  padding: 0px 16px;
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  color: var(--light);
  opacity: 0.8;
  display: block;
  cursor: pointer;
}

.bd-link:hover {
  color: var(--light);
  background-color: var(--dark);
  opacity: 1;
  text-decoration: none;
}

.bd-link.active {
  opacity: 0.8;
  border-left: 4px solid var(--primary);
  background-color: var(--dark);
}

.bd-link.active:hover {
  opacity: 1;
}

.bd-light,
.bd-light .bd-links .bd-link {
  background: var(--light) !important;
  color: var(--dark) !important;
}

@media (max-width: 992px) {
  .bd-sidebar {
    height: calc(100vh - 44px);
    width: 0px;
    position: fixed;
  }

  .bd-content {
    flex: 0 0 100%;
  }

  .bd-link,
  .bd-brand {
    display: none;
  }

  .bd-sidebar.show {
    width: 310px;
    z-index: 9999;
  }

  .bd-sidebar.show .bd-link,
  .bd-sidebar.show .bd-brand {
    display: block;
  }
}
/* Sidebar */

/* Tab */
.tab {
  padding: 0;
  margin: 0px 0px 0px 10px;
  overflow: hidden;
  background-color: var(--light);
  display: flex;
  list-style: none;
}

/* Style the buttons inside the tab */
.tab-link {
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 12px 42px 12px 16px;
  font-size: 14px;
  border-top: 3px solid var(--light);
}

/* Change background color of buttons on hover */
.tab-link:hover {
  border-top: 3px solid #e5e5e5;
}

/* Create an active/current tab link class */
.tab-link.active {
  background-color: #ffffff;
  border-top: 3px solid var(--primary);
}

/* Style the tab content */
.tab-pane {
  width: 100%;
  background: #ffffff;
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tab-pane.show {
  display: block;
}
/* Tab */

/* Tag */
.tag {
  display: inline-block;
  font-size: 13px;
  margin: 0.25rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.9375rem;
}

.tag-wrapper {
  margin-bottom: 5px;
}

.tag-blue {
  color: var(--blue);
  background-color: var(--blue20);
}

.tag-green {
  color: var(--green);
  background-color: var(--green20);
}

.tag-yellow {
  color: var(--yellow);
  background-color: var(--yellow20);
}

.tag-red {
  color: var(--red);
  background-color: var(--red20);
}

.tag-close {
  position: relative;
  font-size: 13px !important;
  top: 2.3px;
  margin-left: 4px;
  cursor: pointer;
}
/* Tag */

/* Toast */
.toast {
  position: relative;
  font-size: 12rem;
  font-weight: 400;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto;
  min-height: 5rem;
  max-width: 18rem;
  min-width: 245px;
  color: #282828;
  margin: 16px 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.toast-title {
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  white-space: nowrap;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 13px 0 7px 0;
}

.toast-details {
  display: -webkit-flex;
  display: flex;
  margin: 0 1rem;
}

.toast-text-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.toast-time {
  margin-right: 32px;
  font-size: 11.2px;
  font-weight: 700;
  color: var(--primary);
}

.toast-message {
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 0.16px;
  word-break: break-word;
  padding: 5px 0 12px 0;
}

.toast-close-button {
  position: absolute;
  top: 0px;
  right: 0;
  color: var(--gray80);
  outline: 2px solid transparent;
  outline-offset: -2px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  transition: outline 0.11s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
}
/* Toast */
