@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  background: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #282828;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 0.5rem;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #005ba1;
  text-decoration: underline;
}

.container {
  width: 100%;
  padding: 16px 46px 16px 46px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col {
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  flex: 0 0 100%;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-1 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-3 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 1000%;
  }
}

.spacing-01 {
  margin: 2px;
}

.spacing-02 {
  margin: 4px;
}

.spacing-03 {
  margin: 8px;
}

.spacing-04 {
  margin: 16px;
}

.spacing-05 {
  margin: 24px;
}

.icon-16 {
  font-size: 16px !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.text-center {
  text-align: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.mr-auto {
  margin-right: auto !important;
}

.accordion {
  position: relative;
  width: 100%;
  cursor: pointer;
  margin-top: 8px;
  box-shadow: 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.accordion:hover {
  background: #f4f4f4;
}

.accordion-title {
  line-height: 42px;
  padding-left: 24px;
  border: 0px;
  min-height: 32px;
  font-weight: 600;
}

.accordion-icon {
  color: #282828;
  position: absolute;
  font-size: 12px;
  top: 10px;
  right: 8px;
}

.accordion-content {
  width: 100%;
  display: none;
  padding: 8px 24px;
  border: 0px;
  background: #ffffff;
}

.accordion-content.show {
  display: block;
}

.alert {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto;
  min-height: 3rem;
  min-width: 18rem;
  color: #282828;
  margin-top: 16px;
  margin-bottom: 16px;
}

.alert-text-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.75rem 0;
}

.alert-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  margin: 0 0.5rem 0 0;
  white-space: nowrap;
}

.alert-message {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  word-break: break-word;
}

.alert-info {
  border-left: 3px solid #276ef1;
  background: #e3eefd;
}

.alert-error {
  border-left: 3px solid #f23838;
  background: #fde7e7;
}

.alert-warn {
  border-left: 3px solid #f2a007;
  background: #fef1d8;
}

.alert-success {
  border-left: 3px solid #33a650;
  background: #e2f6e7;
}

.alert-details {
  display: -webkit-flex;
  display: flex;
  margin: 0 1rem;
}

.alert-close-button {
  outline: 2px solid transparent;
  outline-offset: -2px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  transition: outline 0.11s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 1rem;
  margin: 8px 0;
  list-style: none;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #282828;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #7952b3;
  cursor: pointer;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active a {
  color: #8d8d8d;
  cursor: unset;
}

.breadcrumb-item.active a:hover {
  text-decoration: none;
}

.btn {
  font-family: "Barlow", sans-serif;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  cursor: pointer;
  border: 3px solid transparent;
  color: #282828;
  background-color: #f4f4f4;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  outline: none;
}

.btn:hover {
  background-color: #e0e0e0;
}

.btn-sm {
  padding: 6px 16px;
  font-size: 13px;
  line-height: 10px;
}

.btn-primary {
  background-color: #276ef1;
  color: #ffffff;
}

.btn-primary:active {
  outline: none;
}

.btn-primary:hover {
  background-color: #0e54d8;
}

.btn-secondary {
  background-color: #171717;
  color: #ffffff;
}

.btn-secondary:active {
  outline: none;
}

.btn-secondary:hover {
  background-color: #393939;
}

.btn-success {
  background-color: #33a650;
  color: #ffffff;
}

.btn-success:active {
  outline: none;
}

.btn-success:hover {
  background-color: #2a8942;
}

.btn-danger {
  background-color: #f23838;
  color: #ffffff;
}

.btn-danger:active {
  outline: none;
}

.btn-danger:hover {
  background-color: #d80e0e;
}

.card {
  min-width: 135px;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-icon {
  font-size: 60px;
  color: #282828;
}

.card-header {
  font-weight: 600;
  min-height: 1.75rem;
  color: #282828;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.card-title {
  font-weight: 600;
  padding: 12px;
  margin: 0;
}

.card-content {
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  color: #5a6872;
  min-height: 3.75rem;
}

.card-footer {
  position: relative;
  padding: 12px;
  min-height: 40px;
  width: 100%;
}

.checkbox label {
  font-size: 14px;
  font-weight: 600;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #171717;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkbox-checkmark:after {
  left: 4px;
  top: 0px;
  width: 0.3625rem;
  height: 0.7125rem;
  border: solid #276ef1;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu {
  position: relative;
}

.menu-toggle::after {
  background: #ffffff;
  display: inline-block;
  margin-left: 0.325em;
  vertical-align: 0.2em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.menu-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  font-size: 14px;
  color: #282828;
  text-align: left;
  list-style: none;
  background-color: #f4f4f4;
  background-clip: padding-box;
}

.menu-menu.show {
  display: block;
}

.menu-item {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 11px 16px;
  clear: both;
  line-height: 20px;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.menu-item:hover {
  text-decoration: none;
  color: #212529;
  background-color: #e5e5e5;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.form-group {
  display: block;
  padding: 0.375rem 0.75rem;
}

.form-control {
  width: 100%;
}

.form-group label {
  font-weight: 600;
  font-size: 12px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input-group label {
  margin-right: 6px;
  align-items: center;
  line-height: 36px;
}

.text-input {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  line-height: 14px;
  color: #282828;
  border: solid 1px #c6c6c6;
  min-height: 40px;
  background-color: #ffffff;
  -webkit-appearance: none;
  transition: all 400ms ease !important;
}

.text-area {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  padding: 12px 18px;
  line-height: 17px;
  color: #282828;
  background-color: #ffffff;
  width: 100%;
  min-width: 10rem;
  min-height: 40px;
  -webkit-order: 3;
  order: 3;
  resize: vertical;
  border: solid 1px #c6c6c6;
  -webkit-appearance: none;
}

.select-input {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  line-height: 14px;
  background-color: #ffffff;
  width: 100%;
  min-width: 10rem;
  min-height: 40px;
  border: solid 1px #c6c6c6;
  transition: all 400ms ease !important;
}

.text-input:focus,
.select-input:focus,
.text-area:focus {
  outline: none;
  border: solid 1px #276ef1;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 16px 16px 24px 16px;
  margin-bottom: 0;
  background-color: #ffffff;
  border: 1px solid #d1d5da;
  cursor: pointer;
  transition: 0.3s;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item:hover {
  background-color: #e5e5e5;
}

.list-group-item.active {
  background-color: #e5e5e5;
  cursor: unset;
}

.loading {
  color: #7952b3;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 0.75s linear infinite;
  animation: loading 0.75s linear infinite;
}

.navbar {
  margin: 0;
  overflow: hidden;
  background: #171717;
  z-index: 9999;
  min-height: 44px;
}

.navbar-content {
  margin: 0 auto;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
}

.navbar-content a {
  display: block;
  line-height: 44px;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.navbar-list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.navbar-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #282828;
}

.navbar-link {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  color: #f4f4f4 !important;
  opacity: 0.8;
}

.navbar-link:hover {
  color: #f4f4f4 !important;
  opacity: 1;
}

.navbar-link.active {
  opacity: 0.56;
  max-height: 44px;
}

.navbar-menu-icon {
  display: none;
  grid-gap: 5px;
  grid-template-columns: auto;
  padding: 22px 0px 22px 0px;
  height: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-menu {
  height: 1px;
  width: 18px;
  background: #f4f4f4;
  opacity: 0.8;
  transition: 0.5s;
}

.one.show {
  transform: rotate(45deg) translateY(4.5px);
}

.two.show {
  transform: rotate(-45deg) translateY(-4.5px);
}

@media (max-width: 992px) {
  .navbar {
    background: #171717;
  }

  body.show {
    overflow: hidden;
  }

  .navbar-list {
    z-index: 9999;
    position: fixed;
    top: 44px;
    right: 0;
    height: 0;
    width: 100%;
    background: #1d1d1d;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .navbar.show .navbar-list {
    background-color: #000000;
    padding: 75px 40px 8px;
    height: 100%;
  }

  .navbar.show {
    background-color: #000000;
  }

  .navbar-link {
    font-weight: 300;
    font-size: 16px;
  }

  .navbar-list a {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .navbar.show .navbar-list a {
    width: auto;
    height: auto;
  }

  .navbar-menu-icon {
    order: 1;
    display: grid;
  }

  .navbar-brand {
    order: 2;
  }

  .navbar-rt {
    order: 3;
  }
}

.radio {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #171717;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio .radio-checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #276ef1;
}

.sidenav-wrapper {
  height: 100%;
  overflow: hidden;
}

.d-flex-sidenav {
  height: calc(100% - 44px);
}

.sidenav-container {
  overflow: auto;
  height: 100%;
}

.sidenav {
  height: 100%;
  width: 244px;
  z-index: 9999;
  background-color: #171717;
  transition: 0.5s;
  overflow-x: hidden;
}

.sidenav-content {
  height: 100%;
  max-height: 100%;
  padding-bottom: 16px;
  padding-top: 75px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav-brand {
  width: 100%;
  display: block;
  padding-bottom: 64px;
}

.sidenav-brand img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sidenav-link {
  line-height: 44px;
  padding: 0px 16px;
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  color: #f4f4f4;
  opacity: 0.8;
  display: block;
  cursor: pointer;
}

.sidenav-link:hover {
  color: #f4f4f4;
  background-color: #171717;
  opacity: 1;
  text-decoration: none;
}

.sidenav-link.active {
  opacity: 0.8;
  border-left: 4px solid #7952b3;
  background-color: #171717;
}

.sidenav-link.active:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  .sidenav {
    height: calc(100% - 44px);
    width: 0px;
    position: absolute;
  }

  .sidenav-link,
  .sidenav-brand {
    display: none;
  }

  .sidenav.show {
    width: 244px;
    z-index: 9999;
  }

  .sidenav.show .sidenav-link,
  .sidenav.show .sidenav-brand {
    display: block;
  }
}

/* Style the tab */
.tab {
  padding: 0;
  margin: 0px 0px 0px 10px;
  overflow: hidden;
  background-color: #e5e5e5;
  display: flex;
  list-style: none;
}

/* Style the buttons inside the tab */
.tab-link {
  transition: 0.2s;
  font-family: "Barlow", sans-serif;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 12px 42px 12px 16px;
  font-size: 14px;
  border-top: 3px solid #e5e5e5;
}

/* Change background color of buttons on hover */
.tab-link:hover {
  border-top: 3px solid #cccccc;
}

/* Create an active/current tablink class */
.tab-link.active {
  background-color: #ffffff;
  border-top: 3px solid #7952b3;
}

/* Style the tab content */
.tab-pane {
  width: 100%;
  background: #ffffff;
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tab-pane.show {
  display: block;
}

.tag {
  display: inline-block;
  font-size: 13px;
  margin: 0.25rem;
  padding: 0.3rem 0.6rem;
}

.tag-wrapper {
  margin-bottom: 5px;
}

.tag-blue {
  color: #276ef1;
  background-color: #e3eefd;
  border: solid 1px #276ef1;
}

.tag-green {
  color: #33a650;
  background-color: #e2f6e7;
  border: solid 1px #33a650;
}

.tag-yellow {
  color: #f2a007;
  background-color: #fef1d8;
  border: solid 1px #f2a007;
}

.tag-red {
  color: #f23838;
  background-color: #fde7e7;
  border: solid 1px #f23838;
}

.tag-close {
  position: relative;
  font-size: 13px !important;
  top: 2.3px;
  margin-left: 4px;
  cursor: pointer;
}

@-webkit-keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.toast {
  position: relative;
  font-size: 12rem;
  font-weight: 400;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto;
  min-height: 5rem;
  max-width: 18rem;
  min-width: 245px;
  color: #282828;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.toast-title {
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  white-space: nowrap;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 13px 0 7px 0;
}

.toast-details {
  display: -webkit-flex;
  display: flex;
  margin: 0 1rem;
}

.toast-text-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}

.toast-time {
  margin-right: 32px;
  font-size: 11.2px;
  font-weight: 600;
  color: #7952b3;
}

.toast-message {
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 0.16px;
  word-break: break-word;
  padding: 5px 0 12px 0;
}

.toast-close-button {
  position: absolute;
  top: 0px;
  right: 0;
  color: #282828;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  transition: outline 0.11s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
}
