html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #ffffff;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #282828;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 0.5rem;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #005ba1;
  text-decoration: underline;
}

.container {
  width: 100%;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col {
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  flex: 0 0 100%;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-1 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-3 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-1 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }

  .col-2 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-3 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }

  .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-5 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }

  .col-6 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-7 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }

  .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 1000%;
  }
}

.spacing-01 {
  margin: 2px;
}

.spacing-02 {
  margin: 4px;
}

.spacing-03 {
  margin: 8px;
}

.spacing-04 {
  margin: 16px;
}

.spacing-05 {
  margin: 24px;
}

.icon-16 {
  font-size: 16px !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.text-center {
  text-align: center !important;
}

.accordion {
  position: relative;
  width: 100%;
  border-top: solid 1px #f4f4f4;
  border-bottom: solid 1px #f4f4f4;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.accordion:hover {
  background: #f4f4f4;
}

.accordion-title {
  line-height: 42px;
  padding-left: 24px;
  border: 0px;
  border-radius: 0px;
  min-height: 32px;
}

.accordion-icon {
  color: #282828;
  position: absolute;
  font-size: 12px;
  top: 10px;
  right: 8px;
}

.accordion-content {
  width: 100%;
  display: none;
  padding: 8px 24px;
  border: 0px;
  background: #ffffff;
}

.accordion-show {
  display: block;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 9px 22px 9px 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.125rem;
  white-space: nowrap;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  color: #282828;
  background-color: #f4f4f4;
  letter-spacing: 0.16px;
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn:focus {
  outline: none;
}

.btn:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1),
    0 4px 10px 1px rgba(0, 0, 0, 0.12), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
}

.btn-sm {
  padding: 6px 22px 6px 22px;
  font-size: 14px;
  line-height: 18px;
}

.btn-primary {
  background-color: #33a650;
  color: #ffffff;
}

.btn-danger {
  background-color: #f23838;
  color: #ffffff;
}

.checkbox label {
  font-size: 16px;
  font-weight: 500;
}

.radio {
  font-size: 16px;
  font-weight: 500;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.form-group {
  display: block;
  padding: 0.375rem 0.75rem;
}

.form-control {
  width: 100%;
}

.form-group label {
  font-weight: 500;
  font-size: 16px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input-group label {
  margin-right: 6px;
  align-items: center;
  line-height: 36px;
}

.input-group-append {
  display: flex;
}

.input-group-prepend {
  display: flex;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8e9196;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #d1d5da;
  border-radius: 4px;
}

.input-group-append .input-group-text,
.input-group-prepend .form-control {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.input-group-prepend .input-group-text,
.input-group-append .form-control {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.text-input {
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #282828;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  min-height: 36px;
  background-color: #fcfcfc;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  -webkit-appearance: none;
}

.text-input:focus,
.select-input:focus {
  border-color: #448ff2;
  outline: none;
  box-shadow: 0 0 0 0.17647rem rgba(131, 192, 253, 0.5);
}

.text-area {
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #282828;
  background-color: #fcfcfc;
  width: 100%;
  min-width: 10rem;
  min-height: 36px;
  -webkit-order: 3;
  order: 3;
  resize: vertical;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  -webkit-appearance: none;
}

.text-area:focus {
  border-color: #448ff2;
  outline: none;
  box-shadow: 0 0 0 0.17647rem rgba(131, 192, 253, 0.5);
}

.select-input {
  padding: 6px 16px 6px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background-color: #fcfcfc;
  width: 100%;
  min-width: 10rem;
  min-height: 36px;
  border: 1px solid #d1d5da;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}

.card {
  min-width: 135px;
  cursor: pointer;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 16px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.card-icon {
  font-size: 60px;
  color: #282828;
}

.card-wrapper {
  display: block;
  flex-grow: 2;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
  min-height: 1.75rem;
  color: #282828;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-bottom: 1px solid #d1d5da;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
  color: #5a6872;
  min-height: 3.75rem;
}

.card-footer {
  position: relative;
  min-height: 41px;
  width: 100%;
}

.alert {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: auto;
  min-height: 3rem;
  min-width: 18rem;
  color: #282828;
  margin-top: 16px;
  margin-bottom: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.alert-info {
  border-left: 3px solid #448ff2;
  background: #e3eefd;
}

.alert-error {
  border-left: 3px solid #f23838;
  background: #fde7e7;
}

.alert-warn {
  border-left: 3px solid #f2a007;
  background: #fef1d8;
}

.alert-success {
  border-left: 3px solid #33a650;
  background: #e2f6e7;
}

.alert-details {
  display: -webkit-flex;
  display: flex;
  margin: 0 1rem;
}

.alert-text-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.75rem 0;
}

.alert-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  margin: 0 0.5rem 0.5rem 0;
  white-space: nowrap;
}

.alert-message {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.16px;
  word-break: break-word;
}

.alert-close-button {
  outline: 2px solid transparent;
  outline-offset: -2px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  transition: outline 0.11s cubic-bezier(0.2, 0, 0.38, 0.9),
    background-color 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
}

.navbar {
  margin: 0;
  overflow: hidden;
  background: #282828;
  z-index: 9999;
  min-height: 44px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1),
    0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
}

.navbar-content {
  margin: 0 auto;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
}

.navbar-content a {
  display: block;
  line-height: 44px;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.navbar-list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.navbar-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #282828;
}

.navbar-link {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  color: #f4f4f4 !important;
  opacity: 0.8;
}

.navbar-link:hover {
  color: #f4f4f4 !important;
  opacity: 1;
}

.navbar-link-active {
  opacity: 0.56;
}

.navbar-menu-icon {
  display: none;
  grid-gap: 5px;
  grid-template-columns: auto;
  padding: 22px 0px 22px 0px;
  height: 9px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-menu {
  height: 1px;
  width: 18px;
  background: #f4f4f4;
  opacity: 0.8;
  transition: 0.5s;
}

.navbar-show .one {
  transform: rotate(45deg) translateY(4.5px);
}

.navbar-show .two {
  transform: rotate(-45deg) translateY(-4.5px);
}

@media (max-width: 992px) {
  .navbar {
    background: #282828;
  }

  .navbar-body-show {
    overflow: hidden;
  }

  .navbar-list {
    z-index: 9999;
    position: fixed;
    top: 44px;
    right: 0;
    height: 0;
    width: 100%;
    background: #1d1d1d;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .navbar-show .navbar-list {
    background-color: #000000;
    padding: 75px 40px 8px;
    height: 100%;
  }

  .navbar-show {
    background-color: #000000;
  }

  .navbar-link {
    font-weight: 300;
    font-size: 16px;
  }

  .navbar-list a {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .navbar-show .navbar-list a {
    width: auto;
    height: auto;
  }

  .navbar-menu-icon {
    order: 1;
    display: grid;
  }

  .navbar-brand {
    order: 2;
  }

  .navbar-rt {
    order: 3;
  }
}

.sidenav-wrapper {
  height: 100%;
  overflow: hidden;
}

.d-flex-sidenav {
  height: calc(100% - 44px);
}

.sidenav-container {
  overflow: auto;
  height: 100%;
}

.sidenav {
  height: 100%;
  width: 244px;
  z-index: 9999;
  background-color: #282828;
  transition: 0.5s;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1),
    0 6px 10px 0 rgba(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.1);
}

.sidenav-content {
  height: 100%;
  max-height: 100%;
  padding-bottom: 16px;
  padding-top: 75px;
  overflow: auto;
}

.sidenav-brand {
  width: 100%;
  display: block;
  padding-bottom: 64px;
}

.sidenav-brand img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sidenav-link {
  line-height: 44px;
  padding: 0px 16px;
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  color: #f4f4f4;
  opacity: 0.8;
  display: block;
  cursor: pointer;
}

.sidenav-link:hover {
  color: #f4f4f4;
  background-color: #505050;
  border-radius: 2px;
  opacity: 1;
  text-decoration: none;
}

.sidenav-link-active {
  opacity: 0.56;
  background-color: #505050;
}

.sidenav-link-active:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  .sidenav {
    height: calc(100% - 44px);
    width: 0px;
    position: absolute;
  }

  .sidenav-link,
  .sidenav-brand {
    display: none;
  }

  .sidenav-show {
    width: 244px;
    z-index: 9999;
  }

  .sidenav-show .sidenav-link,
  .sidenav-show .sidenav-brand {
    display: block;
  }
}

.tag-wrapper {
  margin-bottom: 5px;
}

.tag {
  display: inline-block;
  border-radius: 0.9375rem;
  font-size: 14px;
  margin: 0.25rem;
  padding: 0.3rem 0.6rem;
}

.tag-blue {
  color: #448ff2;
  background-color: #e3eefd;
  border: solid 1px #448ff2;
}

.tag-green {
  color: #33a650;
  background-color: #e2f6e7;
  border: solid 1px #33a650;
}

.tag-yellow {
  color: #f2a007;
  background-color: #fef1d8;
  border: solid 1px #f2a007;
}

.tag-red {
  color: #f23838;
  background-color: #fde7e7;
  border: solid 1px #f23838;
}

.tag-close {
  position: relative;
  font-size: 13px !important;
  top: 2.3px;
  margin-left: 4px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  background: #ffffff;
  display: inline-block;
  margin-left: 0.325em;
  vertical-align: 0.2em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 14px;
  color: #282828;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #d1d5da;
  border-radius: 4px;
}

.dropdown-menu-show {
  display: block;
}

.dropdown-item {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #212529;
  background-color: #f4f4f4;
}
